body {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1654995158960-8c7827c57c45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: 950px;
  font-family: 'Shadows Into Light', cursive;
}

h1 {
  color: #2e532b;
  font-size: 150px;
  font-weight: bolder;
}

#inputArea {
  width: 200px;
  height: 50px;
  border: 3px solid black;
  border-radius: 6px;
  background-color: transparent;
  font-size: 30px;
  padding-bottom: 15px;
}

#submit-button, #reset-button {
  font-weight: bolder;
  font-size: 30px;
}

li {
  font-size: 40px;
  list-style-type: circle;
}
